#### 코로나 바이러스 영향으로 중국인 관광객 증감분석

##### 외국인 출입국통계데이터

한국관광 데이터랩 : https://datalab.visitkorea.or.kr/

- 제공하는 csv파일을 추가작업으로 년월별 xlsx로 변경

##### 엑셀데이터 로드 
기준 2019년 1월 데이터

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     ----                                    30.7/250.0 kB 1.3 MB/s eta 0:00:01
     -----------------                      112.6/250.0 kB 1.3 MB/s eta 0:00:01
     -------------------------------        204.8/250.0 kB 1.4 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.4 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [2]:
# 데이터분석용 모듈 임포트
import pandas as pd
import numpy as np

In [10]:
# 2019년 1월 엑셀데이터 로드
# 전년동기~구성비까지 빼
# 밑에서 4개 빼
kto_202901= pd.read_excel('./raw/kto_201901.xlsx', 
                            header=1, 
                            usecols='A:J', 
                            skipfooter=4)

kto_202901.head()
#kto_202901.tail()

         국적   관광   상용  공용  유학/연수     기타      계   전년동기  성장률(%)  구성비(%)
62  아프리카 기타  768  718  90    206    908   2690   2245    19.8     0.2
63     기타대륙   33    4   0      1     16     54     66   -18.2     0.0
64     국적미상   33    4   0      1     16     54     66   -18.2     0.0
65     교포소계    0    0   0      0  15526  15526  19196   -19.1     1.4
66       교포    0    0   0      0  15526  15526  19196   -19.1     1.4

In [13]:
# 데이터에 대한 전반적인 정보
kto_202901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
 7   전년동기    67 non-null     int64
 8   성장률(%)  67 non-null     float64
 9   구성비(%)  67 non-null     float64
dtypes: float64(2), int64(7), object(1)
memory usage: 5.4+ KB

In [14]:
# 행렬
kto_202901.shape

(67, 10)

In [15]:
# DataFrame의 정보요약
kto_202901.describe()

,관광,상용,공용,유학/연수,기타,계,전년동기,성장률(%),구성비(%)
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000,67.00000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030,28538.38806,2.216418,2.985075
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969,102571.90244,16.580690,11.119410
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000,66.00000,-66.800000,0.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000,995.00000,-7.850000,0.100000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000,2431.00000,2.000000,0.200000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000,13658.00000,14.500000,1.350000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000,775023.00000,38.900000,83.000000

In [18]:
# 각 컬럼의 0인 부분이 필터링
# |\ : 다음페이지로 넘어감
condition = (kto_202901['관광']==0) | \
            (kto_202901['상용']==0) | \
            (kto_202901['공용']==0) | \
            (kto_202901['유학/연수']==0) | \
            (kto_202901['기타']==0) 
kto_202901_zero = kto_202901[condition] # 제로데이터를 빼서 따로 담아두기 (전처리의일부)
kto_202901_zero

        국적    관광   상용  공용  유학/연수     기타      계   전년동기  성장률(%)  구성비(%)
4      마카오  2506    2   0     17     45   2570   2933   -12.4     0.2
20    이스라엘   727   12   0      9     57    805    809    -0.5     0.1
22  우즈베키스탄  1958  561   0    407   2828   5754   5431     5.9     0.5
38     스위스   613   18   0     19     97    747   1057   -29.3     0.1
45     그리스   481   17   4      0    273    775    712     8.8     0.1
46    포르투갈   416   14   0     13    121    564    592    -4.7     0.1
51   크로아티아   226   12   0      3    250    491    493    -0.4     0.0
54     폴란드   713   10   0     27    574   1324   1504   -12.0     0.1
59  대양주 기타   555    3   4      0     52    614    552    11.2     0.1
63    기타대륙    33    4   0      1     16     54     66   -18.2     0.0
64    국적미상    33    4   0      1     16     54     66   -18.2     0.0
65    교포소계     0    0   0      0  15526  15526  19196   -19.1     1.4
66      교포     0    0   0      0  15526  15526  19196   -19.1     1.4

In [19]:
# df에 기준년월 추가
kto_202901['기준년월'] = '2019-01'
kto_202901.tail()

         국적   관광   상용  공용  유학/연수     기타      계   전년동기  성장률(%)  구성비(%)     기준년월
62  아프리카 기타  768  718  90    206    908   2690   2245    19.8     0.2  2019-01
63     기타대륙   33    4   0      1     16     54     66   -18.2     0.0  2019-01
64     국적미상   33    4   0      1     16     54     66   -18.2     0.0  2019-01
65     교포소계    0    0   0      0  15526  15526  19196   -19.1     1.4  2019-01
66       교포    0    0   0      0  15526  15526  19196   -19.1     1.4  2019-01

In [29]:
# 국적데이터만 남기기
# unique()는 numpy.ndarray 변환
# 원래 67ㄱ. unique() 67개. 의미없음
kto_202901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [39]:
# 대륙목록
contients_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
# '미주'.strip()[-1] == '주'
# kto_202901['국적'].strip()[-1] == '주'

In [41]:
# 대륙목록을 제외하는 국가목록 뽑기
kto_202901[(kto_202901.국적.isin(contients_list) == False)]

In [42]:
kto_202901_country = kto_202901[(kto_202901.국적.isin(contients_list) == False)]
kto_202901_country

,국적,관광,상용,공용,유학/연수,기타,계,전년동기,성장률(%),구성비(%),기준년월
1,일본,198805,2233,127,785,4576,206526,167083,23.6,18.7,2019-01
2,대만,86393,74,22,180,1285,87954,75820,16.0,8.0,2019-01
3,홍콩,34653,59,2,90,1092,35896,34671,3.5,3.2,2019-01
4,마카오,2506,2,0,17,45,2570,2933,-12.4,0.2,2019-01
5,태국,34004,37,199,96,6998,41334,44941,-8.0,3.7,2019-01
6,말레이시아,19043,95,7,99,2821,22065,22113,-0.2,2.0,2019-01
7,필리핀,14279,211,161,184,15638,30473,30454,0.1,2.8,2019-01
8,인도네시아,14183,136,38,187,4298,18842,17034,10.6,1.7,2019-01
9,싱가포르,8372,94,8,48,1333,9855,9664,2.0,0.9,2019-01
10,미얀마,1304,10,31,67,3877,5289,5988,-11.7,0.5,2019-01
11,베트남,10739,763,110,1667,6904,20183,16285,23.9,1.8,2019-01
12,인도,2318,2656,46,177,3474,8671,7421,16.8,0.8,2019-01
13,스리랑카,157,54,5,28,1043,1287,1500,-14.2,0.1,2019-01
14,파키스탄,238,178,10,193,413,1032,1156,-10.7,0.1,2019-01
15,방글라데시,149,126,27,97,848,1247,1231,1.3,0.1,2019-01
16,캄보디아,635,39,55,51,1915,2695,2431,10.9,0.2,2019-01
17,몽골,8358,77,304,484,562,9785,10793,-9.3,0.9,2019-01
18,중국,320113,2993,138,8793,60777,392814,305127,28.7,35.6,2019-01
19,이란,60,45,10,23,46,184,554,-66.8,0.0,2019-01
20,이스라엘,727,12,0,9,57,805,809,-0.5,0.1,2019-01
21,터키,792,13,32,36,912,1785,1934,-7.7,0.2,2019-01
22,우즈베키스탄,1958,561,0,407,2828,5754,5431,5.9,0.5,2019-01
23,카자흐스탄,2185,24,7,92,1266,3574,3942,-9.3,0.3,2019-01
24,GCC,1550,37,14,72,103,1776,1805,-1.6,0.2,2019-01
25,아시아 기타,1561,308,70,205,2410,4554,3903,16.7,0.4,2019-01
27,미국,42989,418,2578,229,16523,62737,59895,4.7,5.7,2019-01
28,캐나다,8034,57,30,43,4296,12460,12417,0.3,1.1,2019-01
29,멕시코,1282,11,7,38,515,1853,1403,32.1,0.2,2019-01
30,브라질,1136,16,9,41,403,1605,1407,14.1,0.1,2019-01
31,미주 기타,1541,24,33,128,540,2266,2044,10.9,0.2,2019-01
33,영국,7982,175,17,41,1933,10148,9399,8.0,0.9,2019-01
34,독일,4925,278,19,177,1451,6850,7328,-6.5,0.6,2019-01
35,프랑스,3773,297,48,288,1168,5574,5891,-5.4,0.5,2019-01
36,네덜란드,1592,47,16,77,537,2269,2329,-2.6,0.2,2019-01
37,스웨덴,844,29,6,18,85,982,942,4.2,0.1,2019-01
38,스위스,613,18,0,19,97,747,1057,-29.3,0.1,2019-01
39,이탈리아,1968,83,17,40,623,2731,2761,-1.1,0.2,2019-01
40,덴마크,520,21,6,16,188,751,699,7.4,0.1,2019-01
41,노르웨이,552,66,4,28,151,801,993,-19.3,0.1,2019-01
42,벨기에,490,24,4,22,169,709,755,-6.1,0.1,2019-01
43,오스트리아,544,8,2,13,209,776,795,-2.4,0.1,2019-01
44,스페인,1010,36,15,52,255,1368,1632,-16.2,0.1,2019-01
45,그리스,481,17,4,0,273,775,712,8.8,0.1,2019-01
46,포르투갈,416,14,0,13,121,564,592,-4.7,0.1,2019-01
47,핀란드,412,23,1,18,405,859,997,-13.8,0.1,2019-01
48,아일랜드,392,15,1,2,185,595,592,0.5,0.1,2019-01
49,우크라이나,593,58,3,28,1580,2262,1629,38.9,0.2,2019-01
50,러시아,17260,181,37,191,7525,25194,21934,14.9,2.3,2019-01
51,크로아티아,226,12,0,3,250,491,493,-0.4,0.0,2019-01
52,루마니아,412,8,4,3,445,872,732,19.1,0.1,2019-01
53,불가리아,154,1,1,10,265,431,366,17.8,0.0,2019-01
54,폴란드,713,10,0,27,574,1324,1504,-12.0,0.1,2019-01
55,구주 기타,1809,44,25,91,996,2965,2406,23.2,0.3,2019-01
57,오스트레일리아,12795,93,17,34,1346,14285,11688,22.2,1.3,2019-01
58,뉴질랜드,2029,20,17,5,654,2725,2659,2.5,0.2,2019-01
59,대양주 기타,555,3,4,0,52,614,552,11.2,0.1,2019-01
61,남아프리카공화국,368,9,1,6,616,1000,903,10.7,0.1,2019-01
62,아프리카 기타,768,718,90,206,908,2690,2245,19.8,0.2,2019-01
64,국적미상,33,4,0,1,16,54,66,-18.2,0.0,2019-01
66,교포,0,0,0,0,15526,15526,19196,-19.1,1.4,2019-01